body
{
    font-family: Segoe UI, sans-serif;
}

div.menu
{
    width: 100%;
    text-align: center;
    background-color: rgb(50, 100, 150);
    color: rgb(255, 255, 255);
}

div.menu a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

div.menu ul
{
    list-style-type: none;
}

div.menu ul li
{
    display: inline-block;
    padding: 5px;
}

div.menu ul li:hover
{
    background-color: rgb(60, 110, 160);
}