{% extends 'charinfo/base.html' %}
{% load charinfo_filters %}

{% block title %}{{ name }}{% endblock %}

{% block content%}
    <p>
      <strong>{{ name }}</strong> [{{ corp }}]
      {% if alliance %}&lt;{{ alliance }}&gt;{% endif %}<br />
      {{ skillpoints|formatnumber }} SP<br />
      Ship: {{ ship }}
    </p>
    <p>
      <h2>Skillqueue</h2>
      <ul>
      {% for skill in skillqueue %}
        <li>{{ skill }} finishes {{ skill.end_timestamp|formattimestamp }}</li>
      {% endfor %}
      </ul>
    </p>
{% endblock %}
